.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: 40px;
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #625d5c; /* Similar red-orange color */
}

.dot {
    color: #625d5c;
}
